<div class="container">
    <div class="details">
        <p class="title">Información de Pago</p>
        <form>
            <div>
                <p class="dato" style="margin:auto;">Dirección </p>
                <textarea class="direccion"></textarea>
            </div>
            <div>
                <p class="dato">Teléfono </p>
                <input type="text">
            </div>
            <div class="file">
                <label>Adjunte el comprobante del pago por Sinpe Móvil</label>
                <input type="file" style="width: 11rem;">
            </div>
            <default-button text="Completar Compra"></default-button>
        </form>
    </div>
    
</div>