<div class="container">
    <div class="details">
        <p class="title">Información de Pago</p>
        <div class="datosPago">
            <div class="info">
                <h3>Dirección</h3>

                <p class="dato">Provincia: </p>
                <input
                    [(ngModel)]="provincia"
                    class="inDirection"
                    type="text"
                    autocomplete="on"><br />

                <p class="dato">Cantón:    </p>
                <input
                    [(ngModel)]="canton"
                    class="inDirection"
                    type="text"
                    autocomplete="on"><br />

                <p class="dato">Distrito: </p>
                <input
                    [(ngModel)]="distrito"
                    class="inDirection"
                    type="text"
                    autocomplete="on"><br />

                <p class="dato" style="margin:auto;">Detalles: </p>
                <textarea
                    [(ngModel)]="detalles"
                    class="detalle"
                    autocomplete="on">
                </textarea>
            </div>
            <div>
                <p class="dato">Teléfono </p>
                <input
                    [(ngModel)]="telefono"
                    class="inDirection"
                    type="text"
                    autocomplete="on">
            </div>
            <div class="file">
                <label>Adjunte el comprobante del pago por Sinpe Móvil</label>
                <input
                    [(ngModel)]="image"
                    id="image"
                    type="file"
                    style="width: 11rem;"
                    accept=".jpg, .JPG, .jpeg, .JPEG, .png, .PNG">
            </div>
            <!-- <img id="comprobante" [src]="image"> -->
            <button (click)="addOrder()">Completar Compra</button>
        </div>
    </div>
    
</div>