<div class="container">
    <div class="details">
        <p class="title">Información de Pago</p>
        <form>
            <div>
                <p>Dirección <input class="direccion" type="text"> </p>
            </div>
            <div>
                <p>Teléfono <input type="text"> </p>
            </div>
            <div class="file">
                <p>Adjunte el comprobante del pago por Sinpe Móvil</p>
                <input type="file" >
            </div>
            
            <default-button text="Completar Compra"></default-button>
        </form>
    </div>
    
</div>