.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    color: navy;
    text-align: center;
    font-size: 30px;
}

.detalle{
    height: 51px;
    float: inline-end;
    vertical-align: middle;
}

div{
    margin: auto;
    margin-bottom: 2rem;
}

textarea{
    align-items: center;
}

.dato {
    text-align: center;
    display: inline;
}

input{
    height: 30;
    text-align: center;
}

.details {
    width: 28rem;
}

.file{
    margin-bottom: 20px;
    text-align: center;
}

.inDirection{
    float: inline-end;
}

.datosPago{
    width: 16rem;
}

.info{
    margin-bottom: 3rem;
}

button{
    text-align: center;
    display: block;
    margin: 0 auto;
}