.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}

.title {
    color: navy;
    text-align: center;
    font-size: 30px;
}

.direccion{
    height: 51px;
}

div{
    margin: auto;
    margin-bottom: 2rem;
}

textarea{
    align-items: center;
}

default-button{
    text-align: center;
}

p {
    text-align: center;
}

input{
    height: 30;
    text-align: center;
}

.details {
    width: 28rem;
}

.file{
    margin-bottom: 20px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}