<div class="container">
    <div class="calendar-container">
        <full-calendar #calendar [options]="calendarOptions" class="calendar" id="calendar"></full-calendar>
    </div>
    <div class="controls">
        <div class="actions">
            <button disabled="true" name="buttonAgregar" (click)="actionClick('Maquillaje')" class="action maquillaje"><b>Agregar Servicio</b></button>
            <button disabled="true" name="buttonAgregar" (click)="actionClick('Curso')" class="action curso"><b>Agregar Curso</b></button>
            <button disabled="true" name="buttonAgregar" (click)="actionClick('Entrega')" class="action entrega"><b>Agregar Entrega</b></button>
        </div>
        <div class="configurations">
            <p>Título</p>
            <input id="title" type="text" (change)="evaluate()">
            <p>Fecha</p>
            <input id="dayEvent" type="date" (change)="evaluate()">
            <p>Hora de inicio</p>
            <input id="startTime" type="time" (change)="evaluate()">
            <p>Hora fin</p>
            <input id="endTime" type="time" (change)="evaluate()">
        </div>
    </div>
</div>



        <!-- <div id='external-events' class="external-events">
            <p>
                <strong>Draggable Events</strong>
            </p>
            <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
                <div class='fc-event-main'>Servicio de Maquillaje</div>
            </div>
            <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
                <div class='fc-event-main'>Curso de Maquillaje</div>
            </div>
            <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
                <div class='fc-event-main'>Entrega de Pedido</div>
            </div>
        </div> -->