/* ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;} */

/* .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.5rem;
    margin-top: 0.5rem;
} */

/* .container{
    display: flex;
    flex-wrap: wrap;
}

.calendar{
    width: 50%;
}





.eventsRegistered{
    display: grid;
    align-items: center;
    height: 20rem;
    margin-top: 2rem;
    background-color: #ddd;
}

 */

/* Month header */
/* .month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
} */

/* Month list */
/* .month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
} */

/* Previous button inside month header */
/* .month .prev {
  float: left;
  padding-top: 10px;
} */

/* Next button */
/* .month .next {
  float: right;
  padding-top: 10px;
} */

/* Weekdays (Mon-Sun) */
/* .weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
} */

/* Days (1-31) */
/* .days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
} */

/* Highlight the "current" day */
/* .days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
} */


.container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    /* background-color: aqua; */
}
  
.external-events {
    display: block;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: auto;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    margin: auto;
}
  
.fc-event {
    cursor: move;
    margin: 3px 0;
    width: auto;
}
  
.calendar {
    width: 43rem;
}

.actions{
    height: 10rem;
    width: 10rem;
    display: grid;
    align-items: center;
    /* background-color: red; */
    margin: auto;
}

.controls{
    margin: 2rem 2rem 2rem 2rem;
    display: flex;
    align-items: flex-start;
    width: 50%;
    height: 32rem;
    /* background-color: aqua; */
}

.action{
    border-radius: 2rem;
    color: white;
}

.action:hover{
    cursor: pointer;
    opacity: 70%;
}

.maquillaje{
    background-color: cornflowerblue;
}

.curso{
    background-color: green;
}

.entrega{
    background-color: red;
}

.action:disabled{
    background-color: darkgrey;
    color: black;
}

.configurations{
    margin: auto;
}

p{
    margin-bottom: 0;
}

a{
    border: 5px solid blue;
}

a:hover{
    cursor: pointer;
}

.edit, .delete{
    color: white;
    border: none;
    margin-top: 2rem;
    margin-right: 1rem;
    border-radius: 5px;
    font-size: medium;
}

.edit{
    background-color: orange;
}

.delete{
    background-color: red;
}

.edit:hover, .delete:hover{
    cursor: pointer;
    opacity: 70%;
}

.evento{
    background-color: blue;
}