<div class="container">
    <div class="calendar-container">
        <full-calendar #calendar [options]="calendarOptions" class="calendar" id="calendar"></full-calendar>
    </div>
    <div class="controls">
        <div class="actions">
            <button disabled="true" name="buttonAgregar" (click)="actionClick('Maquillaje')" class="action maquillaje"><b>Agregar Servicio</b></button>
            <button disabled="true" name="buttonAgregar" (click)="actionClick('Curso')" class="action curso"><b>Agregar Curso</b></button>
            <button disabled="true" name="buttonAgregar" (click)="actionClick('Entrega')" class="action entrega"><b>Agregar Entrega</b></button>
        </div>
        <div class="configurations">
            <p>Título</p>
            <input id="title" type="text" (change)="evaluate()">
            <p>Fecha</p>
            <input id="dayEvent" type="date" (change)="evaluate()">
            <p>Hora de inicio</p>
            <input id="startTime" type="time" (change)="evaluate()">
            <p>Hora fin</p>
            <input id="endTime" type="time" (change)="evaluate()">
            <p>Detalles</p>
            <textarea id="details" style="height: 5rem;" (change)="evaluate()"></textarea><br/>

            <button id="editEvent" class="edit" hidden="true" (click)="editClick()">Editar</button>
            <button id="deleteEvent" class="delete" hidden="true" (click)="deleteClick()">Eliminar</button>
        </div>
    </div>
</div>