/* ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;} */

/* .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.5rem;
    margin-top: 0.5rem;
} */

/* .container{
    display: flex;
    flex-wrap: wrap;
}

.calendar{
    width: 50%;
}

.controls{
    width: 50%;
}

.actions{
    height: 10rem;
    display: grid;
    align-items: center;
    margin-top: 2rem;
}

.eventsRegistered{
    display: grid;
    align-items: center;
    height: 20rem;
    margin-top: 2rem;
    background-color: #ddd;
}

.action{
    margin-top: 5rem;
    display: block;
    margin: 0 auto;
} */

/* Month header */
/* .month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
} */

/* Month list */
/* .month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
} */

/* Previous button inside month header */
/* .month .prev {
  float: left;
  padding-top: 10px;
} */

/* Next button */
/* .month .next {
  float: right;
  padding-top: 10px;
} */

/* Weekdays (Mon-Sun) */
/* .weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
} */

/* Days (1-31) */
/* .days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
} */

/* Highlight the "current" day */
/* .days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
} */


html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}
  
.external-events {
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}
  
.external-events .fc-event {
    cursor: move;
    margin: 3px 0;
}
  
.calendar-container {
    position: relative;
    z-index: 1;
    margin-left: 200px;
}
  
.calendar {
    max-width: 1100px;
    margin: 20px auto;
}